<template>
  <div>
    <div :key="renderBread" class="category-sec ml-0 pb-0 pt-5 pl-5">
      <v-breadcrumbs class="pb-0" :items="categories">
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <span
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <span v-if="item.category_name == 'All'">
                    {{ item.category_name }}
                  </span>
                  <span @click="removeCategory(item)" v-else> {{ item.category_name }} </span>
                </span>
              </template>
              <v-list v-if="item.category_name=='All'">
                <v-list-item
                  v-for="(item, index) in filterByCategory(item)"
                  :key="index"
                >
                  <v-list-item-title @click="addCategory(item)">{{ item.category_name }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>
    </div>
    <v-data-table
      :headers="headers"
      :key="renderTable"
      :items="filterArray(products.products)"
      :items-per-page="10"
      class="elevation-1 ml-10 mr-10 mt-5"
    ></v-data-table>
  </div>
</template>

<script>
import {
    dataSet
} from "./data";
export default {
  data() {
    return {
      products: dataSet,
      renderBread: 0,
      renderTable: 0,
      categories: [
        {
            "category_name": "All",
            "category_id": 0,
            "parent_id": 0
        }, 
      ],
      headers: [
          {
            text: 'Name',
            value: 'n',
          },
      ]
    }
  },
  methods:{
    checkIsCategory(catIds, id){
      var ct = this
      if(Array.isArray(catIds)){
        for(let item of catIds){
          if(item==id)
            return true
        }
      } else {
        if(catIds == id)
          return true
      }
      if(id > 0)
        for(let item of this.products.category){
          if(item.parent_id == id){
            if(this.checkIsCategory(catIds, item.category_id))
              return true
          }
        }
    },
    filterArray(array){
      var ct = this
      let result = array.filter(value =>{
        if(value.category_id){
          let catIds = value.category_id.toString().split(",")
          let subCatId = value.sub_category_id.toString().split(",")
          if(ct.checkIsCategory(catIds, ct.categories[ct.categories.length-1].category_id))
            return true
          if(ct.checkIsCategory(subCatId, ct.categories[ct.categories.length-1].category_id))
            return true
        }
      })
      return result
    },
    pushToCategory(items){
      this.categories.push({
        "category_name": "All",
          "category_id": items.category_id,
          "parent_id": items.parent_id
      })
    },
    addCategory(items){
      if(items.parent_id ==0){
        this.categories.length = 1
        this.categories.push(items)
        this.pushToCategory(items)
      }else{
        let length = this.categories.length
        if(this.categories[length-1].category_name == "All" && length > 1 ){
          this.categories[length-1] = items
          this.pushToCategory(items)
          this.renderBread =  this.renderBread + 1
        }else{
          this.categories.push(items)
          this.pushToCategory(items)
        }
      }
    },
    removeCategory(item){
      this.categories.length = this.categories.findIndex(x => x.category_id ===item.category_id) + 1
      this.pushToCategory(item)
      this.renderBread =  this.renderBread + 1
    },
    filterByCategory(items){
      if(items.category_id >=0){
        return this.products.category.filter(value => value.parent_id == items.category_id)
      }
      return this.products.category
    }
  }
}
</script>
